undetected-chromedriver
selenium
PyAutoGUI
flask
flask-cors
openai
google-genai
setuptools
python-dotenv
requests
tqdm
pyttsx3
pygetwindow
pyrect
pyscreeze
pymsgbox
pyperclip
mouseinfo
lxml
webdriver-manager
reportlab
pypdf2
